# Ignore sensitive files
.env
data/*.sqlite
uploads/*
logs/*

# Ignore vendor packages
vendor/

# Ignore system files
.DS_Store
Thumbs.db
*.log
*.tmp
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# Ignore IDE files
.vscode/
.idea/
*.sublime-*

# Ignore OS files
Thumbs.db
.DS_Store